/* src/components/layout/custom-pagination.css */

/* Define a cor padrão para todos os pontinhos */
.swiper-pagination-bullet.custom-pagination-bullet {
    background-color: #F97316; /* Cor orange-500 do Tailwind */
    opacity: 0.5; /* Deixa-os meio transparentes quando não ativos */
}

/* Define a cor para o pontinho ativo */
.swiper-pagination-bullet.custom-pagination-bullet-active {
    background-color: #F97316;
    opacity: 1; /* Opacidade total para o ponto ativo */
}